#
# Aliases
#
alias cd='mycd'
alias v='vim'

alias rt='xrandr -o'
alias l='ls -a -l -h -F --color=always'
alias ls='ls -a -l -h -F --color=always'
alias ll='ls -a -l -h -F --color=always'
alias la='ls -a -l -h -F --color=always'
alias lr='ls -R -a -l -h -F --color=always'

# Delphix woohoo
alias g='git'

# Force interactive rm, cp, and mv for safety.
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

alias xr2h='xrandr --output DP1 --auto --right-of eDP1 --mode 2560x1440'
alias xr2v='xrandr --output VGA1 --auto --right-of eDP1 --mode 1680x1050'
alias xr1h='xrandr --output DP1 --off'
alias xr1v='xrandr --output VGA1 --off'
alias xb='xbacklight -set 20'

alias dv='setxkbmap dvorak; xmodmap ~/.Xmodmap'
alias us='setxkbmap us'

alias dc1='ssh akerber@dc1'
alias dce='ssh akerber@dcenter'
alias tru='ssh delphix@akerber-trunk.dc1'
alias tru1='ssh delphix@akerber-trunk-1.dc1'
alias tru2='ssh delphix@akerber-trunk-2.dc1'
alias ora='ssh ora10205@akerber-ora.dc1'
alias bbd='ssh ora10205@akerber-bbdhcp.dc1'
alias truadm='ssh delphix_admin@akerber-trunk.dc1'
alias gal='ssh akerber@galaxy'
alias os='ssh delphix@akerber-trunk-os.dcenter'

alias appg='cd /home/alvin/projects/dlpx-app-gate; git branch'
alias osg='cd /home/alvin/projects/dlpx-os-gate; git branch'
alias qag='cd /home/alvin/projects/dlpx-qa-gate; git branch'

alias ora='ssh ora10205@akerber-ora.dc1'
alias ora10='ssh ora10205@akerber-ora.dc1'
alias ora11='ssh ora11202@akerber-ora.dc1'
