#
# Aliases
#
alias cd='mycd'
alias v='vim'
alias dv='setxkbmap dvorak; xmodmap ~/.Xmodmap'
alias us='setxkbmap us'

alias l='ls -a -l -h -F --color=always'
alias ls='ls -a -l -h -F --color=always'
alias ll='ls -a -l -h -F --color=always'
alias la='ls -a -l -h -F --color=always'
alias lr='ls -R -a -l -h -F --color=always'

# Force interactive rm, cp, and mv for safety.
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

alias mntsansa='sudo mount -o uid=1000,gid=100 /dev/sdb /mnt/sansa'

alias xr2h='xrandr --output DP1 --auto --right-of eDP1 --mode 2560x1440'
alias xr1h='xrandr --output DP1 --off'
alias xb='xbacklight -set 20'

alias dv='setxkbmap dvorak; xmodmap ~/.Xmodmap'
alias us='setxkbmap us'
