#
# Aliases
#
alias cd='mycd'
alias v='vim'
alias n='ls -F --color=always'
alias no='ls -F --color=always'
alias nn='ls -F -l --color=always'
alias dv='setxkbmap dvorak; xset -r 66'
alias us='setxkbmap us; xset -r 66'
alias aoeuhtns='setxkbmap us; xset -r 66'
alias arstneio='setxkbmap us; xset -r 66'
alias co='setxkbmap us; xmodmap colemak-1.0/xmodmap/xmodmap.colemak && xset r 66'
alias t='date +"%-I:%M %p"'
#alias xlock='echo "This computer was locked at " > ~/bin/locktime; date +"%-I:%M "p" > ~/bin/locktime'
alias d='date +"%A, %B %-d, %Y"'
alias ma='cd ~/math20; ls -l --color=always'
alias g='setsid gvim'
alias ice='setsid iceweasel'
alias drs='setsid drscheme'
alias ll='ls -F -l --color=always'
alias la='ls -a -l -F --color=always'
alias c19='mycd /course/cs019/2009; newgrp cs019ta'
alias exit-='exit'
alias sshc='ssh webpub.brown.edu'
# alias sshh='ssh 138.16.19.190'
# alias sshh='ssh GradCenter-B-190.resnet.brown.edu'
alias sftpc='sftp webpub.brown.edu'
alias oc='setsid oocalc'
alias ow='setsid oowriter'
alias chess='setsid xboard -ncp'
alias 1pchess='setsid xboard'
# alias xl='xlock'
alias newres='xrdb -I$HOME -load $HOME/.Xdefaults'
# alias xlm='xlock -mode marquee -messagefont "-bitstream-bitstream vera sans-*-*-*-*-*-360-*-*-*-*-*-*" -message'

alias lpp='lpr -P pawprints -U akerber'
alias kf='killall -9 firefox-bin iceweasel /usr/lib/iceweasel/firefox-bin'

# alias cd='ls -F --color=always $1; cd'
alias rt='xrandr -o'
alias mu='gnome-mount -m usb -d /dev/sdb1; echo "remember usb drive is at /media/usb, do not write to it"'
alias x='xpdf'
alias l='ls -F --color=always'
alias sshq='ssh $1 -t -x bash' # The anti-quota
alias dv='setxkbmap dvorak; xmodmap ~/.swapcapsesc'

alias xoff='xset s off -dpms'
alias xon='xset s on +dpms'

# Force interactive rm, cp, and mv for safety.
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias ls='ls -F --color=always'

alias chrome='google-chrome --disk-cache-size=0'

alias xjon='xinit -- :1'

alias anyone='anyone -u -m "%d people love you!"'
alias any='anyone -u -m "%d people love you!"'

alias sshcs='ssh ssh.cs.brown.edu'
alias sshm='ssh login.math.berkeley.edu'
alias mntsansa='sudo mount -o uid=1000,gid=100 /dev/sdb /mnt/sansa'
