[core]
	pager = less -FXR
	excludesfile = ~/.gitignore
[user]
	name = Alvin Kerber
	email = alvin.kerber@delphix.com
[color]
	diff = auto
	status = auto
	branch = auto
	log = auto
[alias]
	st = status
	ci = commit
	s = status
	c = commit
	a = add
	p = pull
	u = push
	au = appliance-update
	rv = review
	dv = dv-test
	ri = rebase --interactive
	co = checkout
[merge]
	conflictstyle = diff3
[dlpx]
	email = alvin.kerber@delphix.com
	ldap-user = akerber
	default-appliance = akerber-trunk.dc1
[reviewboard]
	url = http://reviews.delphix.com
